@import "config";

*{
	padding:0px;
	margin:0px;
	color: $font-primary !important;
	font-family: 'CSChatThaiUI',Helvetica,Arial,sans-serif;
}

body {
	// background: image-url('image43.jpg');
	background-repeat:no-repeat;
	/*background-position:center;*/
	background-size: cover;  
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
	background-color: $bg-main;
	font-weight: normal;

	.login {	
		margin-top: 80px;
	 	margin-bottom: 80px;
	
		.form-signin {
			.logo {
				.title {
					font-weight: bold;
					font-size: 36px;
					//font-style: bold;
					letter-spacing: 5px;
					padding-bottom: 2px;
					border-bottom: 1px solid rgba(255,255,255,0.2);  
				}
				.sec1_title {
					letter-spacing: 0.5px;
					font-size: 18px;
					color: #ebf2f9 !important;

				}
			}
		


		  .clearfix {
		  	clear: both;

		  	div:first-child{
		  		span {
						margin-top:-5px;
						color:#ee211a !important;
						font-size: 5px;
				}
		  	}
		  }

		  max-width: 400px;
		  padding: 15px 25px 45px;
		  margin: 15px auto;
		  //border: 1px solid rgba(0,0,0,0.1); 
		  border-bottom: 1px solid rgba(255,255,255,0.1);   

		  .form-signin-heading {
			  margin-bottom: 30px;
			}


			.form-control {
			  position: relative;
			  font-size: 22px;
			  height: auto;
			  padding: 10px;
				@include box-sizing(border-box);

				&:focus {
				  z-index: 2;
				}
			}
			
			input {
				@include border-radius(4px);
				background-color: #010508a1;
				//border: 1px #514E4E solid !important;
				border: 1px #d1dce4 solid !important;
				color: #ced1d1;
				font-size: 22px !important;
				font-weight: normal;
			}

			input[type="text"] {
			  margin-bottom: 10px;
			  border-bottom-left-radius: 3;
			  border-bottom-right-radius: 3;
			}

			input[type="password"] {
			  margin-bottom: 20px;
			  border-top-left-radius: 3;
			  border-top-right-radius: 3;
			}
		}
	}


}

