* {
  padding: 0px;
  margin: 0px;
  color: #E2EFFF !important;
  font-family: 'CSChatThaiUI',Helvetica,Arial,sans-serif;
}

body {
  /*background: image-url('image43.jpg');*/
  background-repeat: no-repeat;
  /*background-position:center;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f7f8fa;
  font-weight: normal;
  color: #2f4050 !important;
}
body a.item {
  cursor: pointer;
  display: block;
  width: 75%;
  height: 180px;
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body a.item.disabled {
  cursor: not-allowed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
body a.item.disabled:hover {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
body a.item i {
  margin-top: 40px;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
}
body a.item:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  text-decoration: none;
}
